src/wsdl/v0140a.vstage.co_7843/EAI/ItemCostCalculation_VAL.wsdl

<?xml version="1.0" encoding="UTF-8"?><!--File EAI_ITEM_COST_WSDL/com/infor/www/businessinterface/itemcostcalculationval/ItemCostCalculation_VAL.wsdl, application VALMET_PDM--><wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" name="ItemCostCalculation_VAL" targetNamespace="http://www.infor.com/businessinterface/ItemCostCalculation_VAL" xmlns:bo="http://www.infor.com/businessinterface/ItemCostCalculation_VAL" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <wsdl:documentation>
    <wsdl:appinfo source="WMQI_APPINFO">
      <MRWSDLAppInfo imported="true">
        <generatedMXSD location="ItemCostCalculation_VAL_InlineSchema1.mxsd"/>
        <binding hasEncoding="false" imported="true" name="ItemCostCalculation_VALSoapBinding" originalBindingStyle="rpc"/>
        <generatedMXSD location="ItemCostCalculation_VAL.mxsd"/>
      </MRWSDLAppInfo>
    </wsdl:appinfo>
  </wsdl:documentation>

	<wsdl:types>
			
        	<xsd:schema targetNamespace="http://www.infor.com/businessinterface/ItemCostCalculation_VAL">
<xsd:include schemaLocation="https://v0140a.vstage.co:7843/EAI/ItemCostCalculation_VAL?xsd=xsd0"/>
    </xsd:schema>
    </wsdl:types>
	
	<wsdl:message name="calculateItemCostRequest">
		<wsdl:part name="calculateItemCostRequest" type="bo:calculateItemCostRequestType"/>
	</wsdl:message>
	<wsdl:message name="calculateItemCostResponse">
		<wsdl:part name="calculateItemCostResponse" type="bo:calculateItemCostResponseType"/>
	</wsdl:message>
	<wsdl:message name="Result">
		<wsdl:part element="bo:Result" name="Result"/>
	</wsdl:message>
	<wsdl:message name="Header">
		<wsdl:part element="bo:Activation" name="Activation"/>
	</wsdl:message>

	<wsdl:portType name="ItemCostCalculation_VAL">
		<wsdl:operation name="calculateItemCost">
			<wsdl:input message="bo:calculateItemCostRequest"/>
			<wsdl:output message="bo:calculateItemCostResponse"/>
			<wsdl:fault message="bo:Result" name="FaultName"/>
		</wsdl:operation>
	</wsdl:portType>
	
	<wsdl:binding name="ItemCostCalculation_VALSoapBinding" type="bo:ItemCostCalculation_VAL">
		<soap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>
		<wsdl:operation name="calculateItemCost">
			<soap:operation soapAction=""/>						
			<wsdl:input>
				<soap:body namespace="http://www.infor.com/businessinterface/ItemCostCalculation_VAL" use="literal"/>
				<soap:header message="bo:Header" part="Activation" use="literal"/>						
			</wsdl:input>
			<wsdl:output>
				<soap:body namespace="http://www.infor.com/businessinterface/ItemCostCalculation_VAL" use="literal"/>
			</wsdl:output>
			<wsdl:fault name="FaultName">
				<soap:fault name="FaultName" use="literal"/>
			</wsdl:fault>
		</wsdl:operation>
	</wsdl:binding>

	<wsdl:service name="ItemCostCalculation_VALService">
		<wsdl:port binding="bo:ItemCostCalculation_VALSoapBinding" name="ItemCostCalculation_VALSoapPort">
			<soap:address location="https://v0140a.vstage.co:7843/EAI/ItemCostCalculation_VAL"/>
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>