src/wsdl/eaibt.valmet.com_7843/EAI/ProjectDeliverable_VAL/Rx/processProjectdata.xsd_xsd0.xsd

<?xml version="1.0" encoding="UTF-8"?><!--File EAI_PROJECTDELIVERABLE_NEWRx_WSDL/com/infor/www/businessinterface/projectdeliverableval/EAI_ProjectDeliverable_VAL_InlineSchema1.xsd, application VALMET_PDM_Rx--><xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.infor.com/businessinterface/ProjectDeliverable_VAL" xmlns:bo="http://www.infor.com/businessinterface/ProjectDeliverable_VAL" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
			<xsd:complexType name="createProjectDeliverableRequestType">
				<xsd:sequence>
					<xsd:element minOccurs="0" name="ControlArea">
						<xsd:complexType>
							<xsd:sequence>								
								<xsd:element default="request" minOccurs="0" name="processingScope" type="bo:processingScope"/>
							</xsd:sequence>
						</xsd:complexType>
					</xsd:element>
					<xsd:element minOccurs="0" name="DataArea">
						<xsd:complexType>
							<xsd:sequence>
							    <xsd:element maxOccurs="1" minOccurs="1" name="MessageID"/>
								<xsd:element name="Receiver"/>
								<xsd:element maxOccurs="unbounded" minOccurs="0" name="ProjectDeliverable_VAL">
									<xsd:complexType>
										<xsd:sequence>
											<xsd:element minOccurs="0" name="itemID">				
												<xsd:complexType>
													<xsd:sequence>
														<xsd:element minOccurs="1" name="ID" type="bo:tcitem"/>
													</xsd:sequence>
												</xsd:complexType>				
											</xsd:element>									
											<xsd:element minOccurs="0" name="revision" type="bo:tcibd.revi"/>
											<xsd:element minOccurs="0" name="contractProject" type="bo:tccprj"/>
											<xsd:element minOccurs="0" name="activity" type="bo:tppdm.cact"/>
											<xsd:element minOccurs="0" name="quantity" type="bo:tcqiv1"/>
											<xsd:element minOccurs="0" name="milestone" type="bo:tppdm.cact"/>
											<xsd:element minOccurs="0" name="userID" type="bo:tcemno"/>
											<xsd:element minOccurs="0" name="contractDeliverable" type="bo:tcmcs.str50"/>
											<xsd:element minOccurs="0" name="deleteContractDeliverable" type="bo:tcmcs.str16"/>
										</xsd:sequence>
									</xsd:complexType>
								</xsd:element>
							</xsd:sequence>
						</xsd:complexType>
					</xsd:element>
				</xsd:sequence>
			</xsd:complexType>
			<xsd:complexType name="createProjectDeliverableResponseType">
				<xsd:sequence>
					<xsd:element minOccurs="0" name="DataArea">
						<xsd:complexType>
							<xsd:sequence>
								<xsd:element maxOccurs="unbounded" minOccurs="0" name="ProjectDeliverable_VAL">
									<xsd:complexType>
										<xsd:sequence>
											<xsd:element minOccurs="0" name="itemID">				
												<xsd:complexType>
													<xsd:sequence>
														<xsd:element minOccurs="1" name="ID" type="bo:tcitem"/>
													</xsd:sequence>
												</xsd:complexType>				
											</xsd:element>									
											<xsd:element minOccurs="0" name="revision" type="bo:tcibd.revi"/>
											<xsd:element minOccurs="0" name="contractProject" type="bo:tccprj"/>
											<xsd:element minOccurs="0" name="activity" type="bo:tppdm.cact"/>
											<xsd:element minOccurs="0" name="contractDeliverable" type="bo:tcmcs.str50"/>
										</xsd:sequence>
									</xsd:complexType>
								</xsd:element>
							</xsd:sequence>
						</xsd:complexType>
					</xsd:element>
					<xsd:element minOccurs="0" name="InformationArea" type="bo:InformationArea"/>					
				</xsd:sequence>
			</xsd:complexType>
			<xsd:complexType name="ActivationType">
				<xsd:sequence>
					<xsd:element minOccurs="0" name="username" type="xsd:string"/>
					<xsd:element minOccurs="0" name="password" type="xsd:string"/>
					<xsd:element minOccurs="0" name="company" type="xsd:int"/>
				</xsd:sequence>
			</xsd:complexType>
			<xsd:element name="Activation" type="bo:ActivationType">
  </xsd:element>
			<xsd:element name="Result" type="bo:Message">
  </xsd:element>	
			<xsd:complexType name="InformationArea">
				<xsd:sequence>
					<xsd:element maxOccurs="unbounded" name="Message" type="bo:InformationMessage"/>
				</xsd:sequence>
			</xsd:complexType>
			<xsd:complexType name="Message">
				<xsd:sequence>
					<xsd:element minOccurs="0" name="messageIndex" type="xsd:integer"/>
					<xsd:element name="messageCode" type="xsd:string"/>
					<xsd:element name="messageType">
						<xsd:simpleType>
							<xsd:restriction base="xsd:string">
								<xsd:enumeration value="Error"/>
								<xsd:enumeration value="Warning"/>
								<xsd:enumeration value="Information"/>
							</xsd:restriction>
						</xsd:simpleType>
					</xsd:element>
					<xsd:element name="messageText" type="xsd:string"/>
					<xsd:element name="messageSource" type="xsd:string"/>
					<xsd:element minOccurs="0" name="MessageDetails">
						<xsd:complexType>
							<xsd:sequence>
								<xsd:element maxOccurs="unbounded" name="Message" type="bo:DetailMessage"/>
							</xsd:sequence>
						</xsd:complexType>
					</xsd:element>
					<xsd:element minOccurs="0" name="messageCorrectiveAction" type="xsd:string"/>
					<xsd:choice>
						<xsd:element minOccurs="0" name="messageAdditionalHelpText" type="xsd:string"/>
						<xsd:element minOccurs="0" name="messageAdditionalHelpURI" type="xsd:anyURI"/>
					</xsd:choice>
					<xsd:element minOccurs="0" name="MessageReference">
						<xsd:complexType>
							<xsd:sequence>
								<xsd:element name="messageReferenceType" type="xsd:string"/>
								<xsd:element name="messageReferenceInfo" type="xsd:anyType"/>
							</xsd:sequence>
						</xsd:complexType>
					</xsd:element>
				</xsd:sequence>
			</xsd:complexType>
			<xsd:complexType name="DetailMessage">
				<xsd:complexContent>
					<xsd:extension base="bo:Message">
						<xsd:attribute name="ID" type="xsd:ID" use="optional"/>
					</xsd:extension>
				</xsd:complexContent>
			</xsd:complexType>
			<xsd:complexType name="InformationMessage">
				<xsd:complexContent>
					<xsd:extension base="bo:Message">
						<xsd:attribute name="ID" type="xsd:ID" use="required"/>
					</xsd:extension>
				</xsd:complexContent>
			</xsd:complexType>
			<xsd:complexType name="FilterType">
				<xsd:choice>
					<xsd:element name="LogicalExpression" type="bo:LogicalExpressionType"/>
					<xsd:element name="ComparisonExpression" type="bo:ComparisonExpressionType"/>
				</xsd:choice>
			</xsd:complexType>
			<xsd:complexType name="LogicalExpressionType">
				<xsd:sequence>
					<xsd:element name="logicalOperator">
						<xsd:simpleType>
							<xsd:restriction base="xsd:string">
								<xsd:enumeration value="or"/>
								<xsd:enumeration value="and"/>
							</xsd:restriction>
						</xsd:simpleType>
					</xsd:element>
					<xsd:choice maxOccurs="unbounded" minOccurs="2">
						<xsd:element maxOccurs="unbounded" name="LogicalExpression" type="bo:LogicalExpressionType"/>
						<xsd:element maxOccurs="unbounded" name="ComparisonExpression" type="bo:ComparisonExpressionType"/>
					</xsd:choice>
				</xsd:sequence>
			</xsd:complexType>
			<xsd:complexType name="ComparisonExpressionType">
				<xsd:sequence>
					<xsd:element name="comparisonOperator">
						<xsd:simpleType>
							<xsd:restriction base="xsd:string">
								<xsd:enumeration value="le"/>
								<xsd:enumeration value="lt"/>
								<xsd:enumeration value="ge"/>
								<xsd:enumeration value="gt"/>
								<xsd:enumeration value="ne"/>
								<xsd:enumeration value="eq"/>
								<xsd:enumeration value="like"/>
							</xsd:restriction>
						</xsd:simpleType>
					</xsd:element>
					<xsd:choice>
						<xsd:element name="attributeName" type="bo:filterAttributeListDT"/>
						<xsd:element name="emptyValue" type="bo:EmptyValueType"/>
						<xsd:element name="instanceValue" type="xsd:string"/>
					</xsd:choice>
					<xsd:choice>
						<xsd:element name="attributeName" type="bo:filterAttributeListDT"/>
						<xsd:element name="emptyValue" type="bo:EmptyValueType"/>
						<xsd:element name="instanceValue" type="xsd:string"/>
					</xsd:choice>
				</xsd:sequence>
			</xsd:complexType>
			<xsd:complexType name="EmptyValueType"/>
			<xsd:simpleType name="filterAttributeListDT">
				<xsd:restriction base="xsd:string">
					<xsd:enumeration value="ProjectDeliverable_VAL.itemID.ID"/>
					<xsd:enumeration value="ProjectDeliverable_VAL.revision"/>
					<xsd:enumeration value="ProjectDeliverable_VAL.contractProject"/>
					<xsd:enumeration value="ProjectDeliverable_VAL.activity"/>
					<xsd:enumeration value="ProjectDeliverable_VAL.quantity"/>
					<xsd:enumeration value="ProjectDeliverable_VAL.milestone"/>
					<xsd:enumeration value="ProjectDeliverable_VAL.userID"/>
					<xsd:enumeration value="ProjectDeliverable_VAL.contractDeliverable"/>
					<xsd:enumeration value="ProjectDeliverable_VAL.deleteContractDeliverable"/>
				</xsd:restriction>
			</xsd:simpleType>
			<xsd:complexType name="SelectionType">
				<xsd:sequence>
					<xsd:element maxOccurs="unbounded" name="selectionAttribute">
						<xsd:simpleType>
							<xsd:restriction base="xsd:string">
								<xsd:enumeration value="*"/>	
								<xsd:enumeration value="ProjectDeliverable_VAL.*"/>
								<xsd:enumeration value="ProjectDeliverable_VAL.itemID.*"/>
								<xsd:enumeration value="ProjectDeliverable_VAL.itemID.ID"/>
								<xsd:enumeration value="ProjectDeliverable_VAL.revision"/>
								<xsd:enumeration value="ProjectDeliverable_VAL.contractProject"/>
								<xsd:enumeration value="ProjectDeliverable_VAL.activity"/>
								<xsd:enumeration value="ProjectDeliverable_VAL.quantity"/>
								<xsd:enumeration value="ProjectDeliverable_VAL.milestone"/>
								<xsd:enumeration value="ProjectDeliverable_VAL.userID"/>
								<xsd:enumeration value="ProjectDeliverable_VAL.contractDeliverable"/>
								<xsd:enumeration value="ProjectDeliverable_VAL.deleteContractDeliverable"/>
							</xsd:restriction>
						</xsd:simpleType>
					</xsd:element>
				</xsd:sequence>
			</xsd:complexType>
			<xsd:simpleType name="processingScope">
				<xsd:restriction base="xsd:string">
					<xsd:enumeration value="not_applicable"/>
					<xsd:enumeration value="request"/>
					<xsd:enumeration value="business_entity"/>
					<xsd:enumeration value="business_entity_component"/>
				</xsd:restriction>
			</xsd:simpleType>
			<xsd:simpleType name="actionType">
				<xsd:restriction base="xsd:string">
					<xsd:enumeration value="create"/>
					<xsd:enumeration value="createOrChange"/>
					<xsd:enumeration value="change"/>
					<xsd:enumeration value="delete"/>
					<xsd:enumeration value="unchanged"/>
				</xsd:restriction>
			</xsd:simpleType>
			<xsd:simpleType name="tcitem">
				<xsd:restriction base="xsd:string">
					<xsd:maxLength value="47"/>
					<xsd:pattern value=""/>
				</xsd:restriction>
			</xsd:simpleType>
			<xsd:simpleType name="tcibd.revi">
				<xsd:restriction base="xsd:string">
					<xsd:maxLength value="35"/>
					<xsd:pattern value=""/>
				</xsd:restriction>
			</xsd:simpleType>
			<xsd:simpleType name="tccprj">
				<xsd:restriction base="xsd:string">
					<xsd:maxLength value="9"/>
					<xsd:pattern value=""/>
				</xsd:restriction>
			</xsd:simpleType>
			<xsd:simpleType name="tppdm.cact">
				<xsd:restriction base="xsd:string">
					<xsd:maxLength value="8"/>
					<xsd:pattern value=""/>
				</xsd:restriction>
			</xsd:simpleType>
			<xsd:simpleType name="tcqiv1">
				<xsd:restriction base="xsd:decimal">
					<xsd:totalDigits value="19"/>
					<xsd:fractionDigits value="4"/>
					<xsd:pattern value=""/>
				</xsd:restriction>
			</xsd:simpleType>
			<xsd:simpleType name="tcemno">
				<xsd:restriction base="xsd:string">
					<xsd:maxLength value="9"/>
					<xsd:pattern value=""/>
				</xsd:restriction>
			</xsd:simpleType>
			<xsd:simpleType name="tcmcs.str50">
				<xsd:restriction base="xsd:string">
					<xsd:maxLength value="50"/>
				</xsd:restriction>
			</xsd:simpleType>
			<xsd:simpleType name="tcmcs.str16">
				<xsd:restriction base="xsd:string">
					<xsd:maxLength value="16"/>
				</xsd:restriction>
			</xsd:simpleType>
		</xsd:schema>