src/wsdl/eaibt.valmet.com_7843/EAI/Item_VAL/processItemData.wsdl

<?xml version="1.0" encoding="UTF-8"?><!--File EAI_wsdl_TESTEnv/com/infor/www/businessinterface/itemval/Item_VAL.wsdl, application PDM_TO_LN--><wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" name="Item_VAL" targetNamespace="http://www.infor.com/businessinterface/Item_VAL" xmlns:bo="http://www.infor.com/businessinterface/Item_VAL" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <wsdl:documentation>
    <wsdl:appinfo source="WMQI_APPINFO">
      <MRWSDLAppInfo imported="true">
        <generatedMXSD location="Item_VAL_InlineSchema1.mxsd"/>
        <binding hasEncoding="false" imported="true" name="Item_VALSoapBinding" originalBindingStyle="rpc"/>
        <generatedMXSD location="Item_VAL.mxsd"/>
      </MRWSDLAppInfo>
    </wsdl:appinfo>
  </wsdl:documentation>

	<wsdl:types>
			
        	<xsd:schema targetNamespace="http://www.infor.com/businessinterface/Item_VAL">
<xsd:include schemaLocation="https://eaibt.valmet.com:7843/EAI/Item_VAL/processItemData?xsd=xsd0"/>
    </xsd:schema>
    </wsdl:types>
	
	<wsdl:message name="processItemDataRequest">
		<wsdl:part name="processItemDataRequest" type="bo:processItemDataRequestType"/>
	</wsdl:message>
	<wsdl:message name="processItemDataResponse">
		<wsdl:part name="processItemDataResponse" type="bo:processItemDataResponseType"/>
	</wsdl:message>
	<wsdl:message name="Result">
		<wsdl:part element="bo:Result" name="Result"/>
	</wsdl:message>
	<wsdl:message name="Header">
		<wsdl:part element="bo:Activation" name="Activation"/>
	</wsdl:message>

	<wsdl:portType name="Item_VAL">
		<wsdl:operation name="processItemData">
			<wsdl:input message="bo:processItemDataRequest"/>
			<wsdl:output message="bo:processItemDataResponse"/>
			<wsdl:fault message="bo:Result" name="FaultName"/>
		</wsdl:operation>
	</wsdl:portType>
	
	<wsdl:binding name="Item_VALSoapBinding" type="bo:Item_VAL">
		<soap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>
		<wsdl:operation name="processItemData">
			<soap:operation soapAction=""/>						
			<wsdl:input>
				<soap:body namespace="http://www.infor.com/businessinterface/Item_VAL" use="literal"/>
				<soap:header message="bo:Header" part="Activation" use="literal"/>						
			</wsdl:input>
			<wsdl:output>
				<soap:body namespace="http://www.infor.com/businessinterface/Item_VAL" use="literal"/>
			</wsdl:output>
			<wsdl:fault name="FaultName">
				<soap:fault name="FaultName" use="literal"/>
			</wsdl:fault>
		</wsdl:operation>
	</wsdl:binding>

	<wsdl:service name="Item_VALService">
		<wsdl:port binding="bo:Item_VALSoapBinding" name="Item_VALSoapPort">
			<soap:address location="https://eaibt.valmet.com:7843/EAI/Item_VAL/processItemData"/>
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>
